<footer class="bg-black bottom-0 w-full text-white flex
  gap-4 p-6 justify-around flex-wrap items-center">
  <h2>Project ED2 Grafos</h2>
  <div>
    2025
  </div>
  <div>
    Miguel Angel Cuellar Serrudo
  </div>

  <div class="">
    <h3>Links:</h3>
    <ul class="flex gap-4">
      <li>
        <a target="_blank" href="https://github.com/miguel-124C">Github</a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/miguel-cuellar-013a96258">LinkEdin</a>
      </li>
      <li>
        <a target="_blank" href="https://miguel-cv.netlify.app">Portafolio</a>
      </li>
    </ul>
  </div>
</footer>